body {
    background-color: rgb(246, 252, 247);
}

.app {
    margin-top: 2rem;
}

.app-name {
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: rgb(18, 75, 19)
}

.form-heading {
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    margin: 1rem;
}

.table-head .cell-name {
    font-size: large;
    font-weight: 800;
}

.table-body .cell {
    font-size: medium;
    color: rgb(82, 82, 82);
}

.text-fields-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-card {
    width: 60%;
    padding: 1rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(150deg,
            rgb(132, 202, 148),
            white,
            white,
            rgb(132, 202, 148));
}

.form-card button {
    background-color: rgb(68, 160, 75);
}

.form-card button:hover {
    background-color: rgb(40, 123, 47);
}

.add-user-icon {
    display: flex;
    cursor: pointer;
    font-size: x-large;
    align-self: flex-end;
    margin-right: 2rem;
}

.icon:hover {
    transform: scale(1.2);
}

.cancel-icon {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    font-size: larger;
    cursor: pointer;
}

.edit-icon,
.delete-icon {
    font-size: large;
    margin: 0 10px;
    cursor: pointer;
}

.user-details-container {
    max-width: 80%;
    padding: 1rem;
}

.user-details-container .name {
    font-size: xxx-large;
    font-weight: 800;
    margin-bottom: 1rem;
    word-spacing: 6px;
    letter-spacing: 3px;
}

.user-details-container .email,
.user-details-container .phone {
    margin-right: 4rem
}

.user-details-container .email,
.user-details-container .phone,
.user-details-container .website,
.user-details-container .address,
.user-details-container .company-name {
    display: flex;
    gap: 0.5rem;
    font-size: large;
    align-items: center;
}

.user-details-container .website {
    color: blue;
    text-decoration: underline;
}

.user-details-container .company-name {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.user-details-container .company-catchPhrase,
.user-details-container .company-bs {
    font-size: large;
}
